h1, h2, h3, h4{
    font-family: 'Fraunces', serif;
    text-align: center;
}
.text-div{

    padding: 4rem 0;
    
}
.text-div p{
    
     margin:0 2rem;
            text-align:center;
            font-size:1rem;
            line-height:1.5rem;
            color: rgb(66, 65, 65);
}
.header-container{
position: relative;
bottom: 200px;

}

.header{
    position: relative;
    top: 350px;
    color: white;
    text-transform: uppercase;
}
.arrow{
    position: relative;
    top: 400px;
    text-align: center;
}

.navigation{
    position: relative;
    top:220px ;
    
}
.navigation a{
   color: white;
    text-decoration: none;
}
.apple{
    
    position: relative;
    bottom: 180px;
    text-align: center;
    
    padding: 15px 15px;
    
}
.apple p{
     margin:0 2rem;
            text-align:center;
            font-size:1rem;
            line-height:1.5rem;
            color: rgb(66, 65, 65);

}
.client{
    font-size: 10px;
}
.client-image{
   text-align: center;
    
}
.client-image img{
     width: 50px;
    border-radius: 70px;
}
.paragraph p{
margin:0 2rem;
            text-align:center;
            font-size:1rem;
            line-height:1.5rem;
            color: rgb(66, 65, 65);
            
}
footer{
    background-color: rgb(19, 107, 107);

}
.foot-links{
    display: block;
    text-align: center;
    margin: 30px 30px;
}
.foot-links a{
    padding: 20px;
    
    text-decoration: none;
} 
.link-1{
    color: rgb(48, 179, 179);
}
.link-1:hover{
    color: rgb(48, 179, 179);
}
.link-2{
    color: white;
}
.link-2:hover{
    color: white;
}
.link-3{
    color:rgb(48, 179, 179) ;
}
.link-3:hover{
    color: rgb(48, 179, 179);
}
.sunny{
    color: rgb(48, 179, 179);
}