 h2, h3, h4{
    font-family: 'Fraunces', serif;
    text-align: center;
}
.text-div{

    padding: 4rem 0;
    
}
.text-div p{
    
     margin:0 2rem;
            text-align:center;
            font-size:1rem;
            line-height:1.5rem;
            color: rgb(66, 65, 65);
}
.header-background{
    background-image: url(/images/desktop/image-header.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
height: 90vh;

}
.header{
   padding-top: 1rem;
   color: white;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 40px;
}
@media (max-width:900px) {
    .header-background{
   background-image: url(/images/mobile/image-header.jpg);

height: 70vh; }
.header{
    margin-top: 150px;
    font-size: 20px;
   
}
.sugar{
    box-sizing: ;
}
}
.arrow{
    text-align: center;
    margin-top: 10px;
}

.navigation a{

    text-decoration: none;
}
.photo-orange{
  background-image: url(/images/desktop/image-photography.jpg); 
  background-size: cover;

background-repeat: no-repeat;
background-position: bottom;

height: 500px;


}
.photo-apple{
    
    background-image: url(/images/desktop/image-graphic-design.jpg);
    background-size: cover;

background-repeat: no-repeat;
background-position: bottom;

height: 500px;
 
}
.apple{
    
   margin-top: 350px;
  
 
}
.apple p{
 margin-left: 50px;
 margin-right: 50px;   
    
}

.client{
    font-size: 10px;
}
.client-image{
   text-align: center;
    
}
.client-image img{
     width: 50px;
    border-radius: 70px;
}
.paragraph p{
margin:0 2rem;
            text-align:center;
            font-size:1rem;
            line-height:1.5rem;
            color: rgb(66, 65, 65);
            
}
div footer{
    background-color: rgb(19, 107, 107);

}
.foot-links{
    display: block;
    text-align: center;
    margin: 30px 30px;
}
.foot-links a{
    padding: 20px;
    
    text-decoration: none;
} 
.link-1{
    color: rgb(48, 179, 179);
}
.link-1:hover{
    color: rgb(48, 179, 179);
}
.link-2{
    color: white;
}
.link-2:hover{
    color: white;
}
.link-3{
    color:rgb(48, 179, 179) ;
}
.link-3:hover{
    color: rgb(48, 179, 179);
}
.sunny{
    color: rgb(48, 179, 179);
}